<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>

    <link rel="stylesheet" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/js/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/solve.css">


</head>
<body>
    <div class="title" >
        <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-5">
                    <input id="searchText" type="text" style="margin-top: 10px;" class="form-control">
            </div>
            <div class="col-xs-3" style="text-align: center;line-height: 65px;font-size: 20px"><li id="search" class="glyphicon glyphicon-search"></li></div>
        </div>
    </div>


    <!-- 展示通知页面-->
    <div id="messageView" class="bodyPart" style="display: none">
        <div>
            通知页面待开发。。。
        </div>
    </div>
    <!-- 展示名师解题页面-->
    <div id="solveView" class="bodyPart" style="display: none">
        <div >
            <li id="takePhoto" class="glyphicon glyphicon-camera"></li>
            <button id="snap" onclick="takePhoto()">拍照</button>
        </div>
        <div>
            <video id="video" style="display: none;width: 200px;height: 200px" autoplay="autoplay"></video>
            <canvas id="canvas" style="display: none" width="500px" height="250px"></canvas>
        </div>
        <div id="teacherList" style="background-color:#DCDCDC">

        </div>
    </div>
   <!-- 展示成绩的页面-->
    <div id="scoreView" class="bodyPart">
        <!--tableAll-->
        <div><h1>朱鹏的课程成绩</h1></div>


        <div class="divBorder">
            <div class="row">
                <div class="col-xs-4">
                    <div class="card">
                        <div class="cardTitle">
                            语文
                        </div>
                        <div>
                            <div id="cardChinese" class="cardSocre">0</div>
                            <div class="cardTrend"><li class="glyphicon glyphicon-arrow-down red"></li></div>
                        </div>
                     </div>
                </div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        数学
                    </div>
                    <div>
                        <div id="cardMath" class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        英语
                    </div>
                    <div>
                        <div id="cardEnglish" class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        物理
                    </div>
                    <div>
                        <div  id="cardPhysical" class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        化学
                    </div>
                    <div>
                        <div  id="cardChemical"class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        生物
                    </div>
                    <div>
                        <div id="cardBiological" class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        地理
                    </div>
                    <div>
                        <div id="cardGeographic" class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        政治
                    </div>
                    <div>
                        <div id="cardPolitical"class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
                <div class="col-xs-4"> <div class="card">
                    <div class="cardTitle">
                        历史
                    </div>
                    <div>
                        <div id="cardHistory"class="cardSocre">0</div>
                        <div class="cardTrend"><li class="glyphicon glyphicon-arrow-up green"></li></div>
                    </div>
                </div></div>
            </div>
        </div>

        <div class="divBorder" >
            <div  class="tableLeft">
              <!--  <table class="table table-condensed">-->
                <table>
                    <thead>
                        <tr>
                            <th>名称</th>
                        </tr>
                    </thead>
                  <tbody id="testName">

                  </tbody>
                </table>
            </div>
            <div class="tableRigth">
              <!--  <table class="table table-condensed">-->
                <table class="grid">
                    <thead>
                    <tr>
                        <th>语文</th>
                        <th>数学</th>
                        <th>英语</th>
                        <th>物理</th>
                        <th>化学</th>
                        <th>生物</th>
                        <th>地理</th>
                        <th>政治</th>
                        <th>历史</th>
                        <th>总分</th>
                        <th>班级排名</th>
                        <th>年级排名</th>
                    </tr>
                    </thead>
                    <tbody id="testScore">

                    </tbody>
                </table>
            </div>
        </div>
        <!--各科的成绩-->
        <div class="divBorder">
            <div style="border: solid">
                <div class="divTitle">
                    <li class="glyphicon glyphicon-th-large icon" id="allCourse"></li>
                </div>
                <div id="" class="menu">
                    <li id="chineseEchart" class="menuLI">语文</li>
                    <li id="mathEchart" class="menuLI">数学</li>
                    <li id="englishEchart" class="menuLI">英语</li>
                </div>
            </div>
            <div  id="chinese" style="height: 300px" >
            </div>
            <div  id="math" style="height: 300px" >
            </div>
            <div  id="english" style="height: 300px" >
            </div>
        </div>
        <!--语数外占比-->
        <div class="divBorder">
            <div style="border: solid">
                <div class="divTitle">
                    <li></li>
                </div>
            </div>
            <div  id="ysw" style="height: 300px" >

            </div>
        </div>

    </div>
   <!-- 展示我的页面-->
    <div id="mineView" class="bodyPart" style="display: none">
        <div>
            我的页面待开发。。。
        </div>
    </div>

    <div class="footPart">
        <div class="row">
            <div id="messageButton"  class="col-xs-3" style="text-align: center;font-size: 15px;">
                <div style="font-size: 25px">
                    <li class="glyphicon glyphicon-envelope"></li>
                </div>
                <div style="font-size: 10px;">
                    通知
                </div>
            </div>
            <div  id="solveButton" class="col-xs-3" style="    text-align: center;font-size: 15px;">
                <div style="font-size: 25px">
                    <li class="glyphicon glyphicon-check"></li>
                </div>
                <div style="font-size: 10px;">
                    名师解题
                </div>
            </div>
            <div  id="scoreButton" class="col-xs-3" style="    text-align: center;font-size: 15px;">
                <div style="font-size: 25px">
                    <li class="glyphicon glyphicon-signal"></li>
                </div>
                <div style="font-size: 10px;">
                    成绩
                </div>
            </div>
            <div   id="mineButton" class="col-xs-3" style="    text-align: center;font-size: 15px;">
                <div style="font-size: 25px">
                    <li class="glyphicon glyphicon-user"></li>
                </div>
                <div style="font-size: 10px;">
                    我的
                </div>
            </div>
        </div>
    </div>
</body>

    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/jQuery/jQuery.js"></script>
    <script src="../static/js/jQuery/jquery-3.3.1.min.js"></script>
    <script src="../static/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/box.js"></script>
    <script src="../static/js/solve.js"></script>
</html>
